<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label>Introduce una Ciudad: </label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" aria-label="city" [(ngModel)]="cityName">
        </div>
        <div class="col-md-2">
            <app-button (click)="onSubmit()" [label]="'Ver el tiempo'" [buttonClass]="'btn-success'"></app-button>
            <app-button (click)="onSubmit()" [label]="'boton2'" [buttonClass]="'btn-warning'"></app-button>
            <app-button (click)="onSubmit()" [label]="'boton3'" [buttonClass]="'btn-danger'"></app-button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label for="temp">Temp: </label>
            <p id="temp">{{temp}}</p> 
            <ng-container *ngIf="temp">
                <app-span [label]="'Aviso por altas temperaturas'" [color]="'red'" *ngIf="temp > 35; else otroAviso"></app-span>
                <ng-template #otroAviso>
                    <app-span [label]="'Más fresquito'" [color]="'blue'"></app-span>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="desc">Description: </label>
            <p id="desc">{{description}}</p>
        </div>
    </div>
</div>

